*{
	border: 0;
	padding: 0;
	margin: 0;
}

div{
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

form{
	width: 300px;
	min-height: 100px;
	background-color: hsl(25, 100%, 50%);
	color: white;
	font-size: 2em;
	font-family: courier;
	font-weight: bold;
	padding: 10px;

}