<!DOCTYPE html>
    <html>
        <head>
            <title>Bootstrap Forms</title>
            <meta charset="UTF-8">
            
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
                        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular.js"></script>
            <script src="EventsController.js"></script>    
        </head>
        <body ng-app="eventApp" ng-controller="eventController">
            <p><button class="btn btn-primary" ng-click="display()">Show</button></p>
            <div class="container" ng-show="visible">
                <h2>Vertical Form</h2>
                <form role="form">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" class="form-control" placeholder="Enter user name"
                                        ng-model="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" class="form-control" placeholder="Enter Password">
                    </div>
                    <div class="radio">
                        <label><input type="radio"> Administrator </label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me </label>
                    </div>
                    
                    <input type="button" class="btn btn-primary" value="Login" ng-click="login()">
                </form>
            </div>
            
        </body>
    </html>