body > div{
	width: 400px;
	height: 400px;
	background-color: plum;
	position: relative;
}

body > div > div{
	width: 40%;
	height: 30%;
	background-color: darkcyan;
}

body > div > div > div{
	width: 50%;
	height: 50%;
	background-color: yellow;
	position: absolute;
	top: 10px;
}


